.col.mb-5
  .card.h-100
    %h2.card-header
      = link_to article.title, article
    .card-body
      %p.card-text= article.body
    .card-footer
      Posted by
      - if user_signed_in? && article.user
        %strong= article.user.name
      - else
        %strong Sign in to see
